$grey: #aaa;
$darkGray: #444;
$bgColor: #6c757d;
body {
  margin: 0;
  padding: 0;
  background-color: #232741 !important;
}
#particles-js {
  position: relative;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 1.5rem;

}

canvas {
  display: block;
  position: absolute;
  vertical-align: bottom;
  z-index: 0;
}
.container-fluid{
  z-index: 1;
}

button:hover {
  color: $darkGray;
  background: $grey;
}

.nav {
  justify-content: center !important;
}

.tab-content {
  color: $grey;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $bgColor !important;
}

.planetsGroup, .filmsGroup, .peopleGroup,
.speciesGroup, .starshipsGroup, .vehiclesGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 17rem !important;
  min-height: 17rem !important;
  margin: .5rem;
  color: $grey !important;

  &-header {
    padding: .5rem 1rem !important;
  }

  &-body {
    padding: .75rem !important;
  }

  &-text, &-title {
    margin: 0 !important;
  }

  .btnInfo {
    position: absolute;
    right: .75rem;
    bottom: .75rem;
  }
}

.card:last-child {
  //margin-right: auto !important;
}

.filmsGroup {
  .card {
    width: 25rem !important;
    min-height: 27rem !important;
    background: $bgColor !important;
    color: #333 !important;

    &-text:last-child {
      padding-bottom: 10rem !important;
    }
  }
}

.peopleGroup {
  .card {
    background: url("image/bg-people.jpg") center/cover fixed no-repeat !important;
  }
}
.planetsGroup {
  .card {
    background: url("image/bg-planet.jpg") center/cover fixed no-repeat !important;
  }
}
.speciesGroup {
  .card {
    background: url("image/bg-species.jpg") center/cover fixed no-repeat !important;
  }
}

.starshipsGroup {
  .card {
    background: url("image/bg-starships.jpg") center/cover fixed no-repeat !important;
  }
}

.vehiclesGroup {
  .card {
    background: url("image/bg-vehicles.jpg") center/cover fixed no-repeat !important;
  }
}

.dropdown {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background: $grey;
}